<!DOCTYPE html>
<html>

<head>

    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;

        }

        h1 img {
            max-width: 100px;
        }

        p {
            margin-bottom: 15px;
        }

        hr {
            border: none;
            border-bottom: 1px solid #ccc;
            margin: 20px 0;
        }

        .social-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .social-icons img {
            max-width: 20px;
            max-height: 20px;
            min-height: 20px;
        }

        .social-icons a {
            margin: 0 10px;
        }
    </style>
</head>

<body>

    <p>Hi Filthy Rich Idea,
    </p>

    <p>
        An Update from the User on Service <%= data.serviceName %> by <%= data.name %> Order ID <b>
                    <%= data.id %>
                </b>.

    </p>


    <p>Best regards,</p>

    <p>The Filthy Rich Idea Team</p>

    <hr />


</body>

</html>